#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cursor {
cursor: auto;
cursor: pointer;



}

/* App.css */
.category-list {
  /* Your existing styles for the category list */
}

.category-item {
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adding a smooth transition effect */
}

.category-item:hover,
.category-item:active {
  background-color: #e0e0e0; /* Change this color to the desired shade */
}



/* Green background for correct answers */
.correct {
  background-color: #8eff8e; 
  color: #006400; /* Dark green text color */
}

.incorrect {
  background-color: #ff8e8e; /* Red background for incorrect answers */
  color: #8b0000; /* Dark red text color */
}
  