#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cursor {
cursor: auto;
cursor: pointer;



}



.category-item {
  cursor: pointer;
  transition: background-color 0.3s ease; 
}



.correct {
  background-color: #8eff8e; 
  color: #006400; 
}

.incorrect {
  background-color: #ff1111;
  color: #302019; 
}


body {
background-color: #ffff55a3;

}

button {
  background-color: rgba(14, 210, 37, 0.049);
  color: #22231c;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  
  
}
  

.selected-category {
  background-color: #c8d0ff; 
  color: #4c2d29; 
  font-weight: bold;
  
}
  
  

  
